<div class="container">
	<div class="footer">
		<div class="navbar navbar-fixed-bottom">
			<small>
				<div class="pull-right footer-link">
				Made with Love by 
				<%= link_to "Marco Morawec", "http://www.marcomorawec.com", :class => 'no-link' %>, 
				<%= link_to "Chris VanSchnydel", "https://github.com/chrisvans", :class => 'no-link'%>
				<%= link_to "Emily Han", "#", :class => 'no-link' %>
				<%= link_to "Mitch", "#", :class => 'no-link' %>
				<%= link_to "Caroline", "#", :class => 'no-link' %>

				</div>
			</small>
		</div>
	</div>
</div>
