<div class="container">
	<div class="footer">
		<div class="navbar navbar-fixed-bottom">
			<small>
				<div class="pull-right footer-link">
				Made with Love by 
				<%= link_to "Marco Morawec", "http://www.marcomorawec.com" %>, 
				<%= link_to "Chris VanSchnydel", "https://github.com/chrisvans" %>
				<%= link_to "Emily Han", "#" %>
				<%= link_to "Mitch", "http://www.marcomorawec.com" %>
				<%= link_to "Caroline", "http://www.marcomorawec.com" %>

				</div>
			</small>
		</div>
	</div>
</div>
