  <div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
	    <div class="container">
	     
		    <!-- .btn-navbar is used as the toggle for collapsed navbar content -->
		    <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
			    <span class="icon-bar"></span>
		    </a>
		  <div class="container-fluid">

		    <!-- Everything you want hidden at 940px or less, place within here -->
		    <div class="nav-collapse collapse">
		    	  <ul class="nav">
		    		<li><%= link_to "Home"  %></li>
		    		<li><%= link_to "About"  %></li>   
		    	  </ul>
		    	<div style="float:right"> 
		    	  <ul class="nav nav-pills" style='display:inline'>	
                      <% if current_user %>
                      	<li><%= link_to "Logged in as #{current_user.email}", profile_path %></li>
                        <li><%= link_to "Log out", log_out_path %></li>
  					  <% else %>
    					<li><%= link_to "Sign up", sign_up_path %></li>
    					<li style='display:inline'>or</li>
    					<li><%= link_to "Log in", log_in_path %></li>
  					  <% end %>
  				  </ul>
  				</div>
                </ul>
		    <!-- .nav, .navbar-search, .navbar-form, etc -->
		    </div>
		  </div>
	     
	    </div>
    </div>
  </div>
