<!DOCTYPE html>
<html>
<head>

  <title>PPM User Profile</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>
<div class='container-fluid'>
  <h1>Student Profile</h1>
	<div class='span6'>
	<p>
	  <%= image_tag("michelle.jpg", :alt => "kid1", :class => 'img-circle img-circle-small') %> Level <span class="badge badge-important">1</span>
	</p>
	<p>
	  <b>Name:</b>
      Geoffrey Robins
	</p>
	<p>
	  <b>Email:</b>
	  grobins@gmail.com
	</p>
	<p>
	  <b>Bio:</b>
	  Geoffrey has been interested in making custom chairs for his school's new computer lab.
	</p>
	</div>

	<div class='span6'>
	  <p>Placeholder for product image.<img></img></p>
	  <p>I need to purchase materials to improve my work, and keep producing more things.  I've collected $20 so far and need $100.  Please help by donating or purchasing my work!</p>
	    <div class="progress progress-striped active">
	       <div class="bar" style="width: 20%;"></div>
	    </div>
	    <button class="btn btn-large btn-primary" type="submit">Donate!</button>
	    <button class="btn btn-large btn-primary" type="submit">Purchase</button>
	</div>
</div>

<%= render 'layouts/footer' %>
</body>
