<!DOCTYPE html>
<html>
<head>

  <title>PPM User Profile</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'layouts/header' %>

<%= yield %>
<h1>User Profile</h1>

<p>
  <b>Name:</b>
  <%= best_in_place @user, :name %>
</p>
<p>
  <b>Email:</b>
  <%= best_in_place @user, :email %>
</p>
<p>
  <b>Bio:</b>
  <%= best_in_place @user, :bio, type: :textarea %>
</p>

<%= link_to 'Edit Profile', edit_user_path(@user) %>

<%= render 'layouts/footer' %>
</body>
